<style>
    ul li a:hover {
        background-color: #b78639;
        color: white !important;
    }
</style>

<div class="container" style="width: 100%;max-width: 100%;background: #dcaa5c;">
    <nav class="navbar sticky-top navbar-light navbar-expand-md text-bg-secondary" style="position: sticky;display: inline;">
        <div class="container-fluid"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse text-uppercase" id="navcol-1">
                <ul class="navbar-nav d-flex justify-content-center align-items-center mx-auto">
                    {{ range .Site.Menus.main }}
                    <li class="nav-item">
                        <a class="nav-link{{ if $.IsMenuCurrent "main" . }} active" aria-current="page{{ end }}" href="{{ .URL }}" style="font-weight: bold;">{{ .Name }}</a>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </nav>
</div>